{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{#FPHTMLBlock2}}

<div id="block2" class="l-container s-special-box section-padding row no-gutters justify-content-sm-center justify-content-lg-between">
 {{#ShowFPBlock2Intro}}
  <div class="col-sm-11 col-md-8 col-lg-6 m-auto text-center">
    {{#FPBlock2Title}}<h3 class="c-special-box-title">{{{FPBlock2Title}}}</h3>{{/FPBlock2Title}}
    {{#FPBlock2Content}}<div class="lead mb-3">{{{FPBlock2Content}}}</div>{{/FPBlock2Content}}
  </div>
 {{/ShowFPBlock2Intro}}

  <div class="col-12 row no-gutters justify-content-between p-0">
    {{#block2}}
    <div id="block2-{{{FPHTMLBlock2Count}}}" class="col-sm-12 col-md-6 my-5 px-sm-3 px-md-5">

        {{#FPHTMLBlock2ShowImage}}<img src="{{{image}}}" alt="{{{FPHTMLBlock2Heading}}}" class="img-fluid"/>{{/FPHTMLBlock2ShowImage}}
        {{#FPHTMLBlock2SubHeading}}<h4 class="c-special-box-subtitle mt-4">{{{FPHTMLBlock2SubHeading}}}</h4>{{/FPHTMLBlock2SubHeading}}
        {{#FPHTMLBlock2Heading}}<h2 class="c-special-box-title">{{{FPHTMLBlock2Heading}}}</h2>{{/FPHTMLBlock2Heading}}
        {{#FPHTMLBlock2Text}}<div class="c-special-box-desc">{{{FPHTMLBlock2Text}}}</div>{{/FPHTMLBlock2Text}}
        {{#FPHTMLBlock2URL}}<a href="{{{FPHTMLBlock2URL}}}" class="m-t-2 m-b-2 btn btn-primary">{{{FPHTMLBlock2Label}}}</a>{{/FPHTMLBlock2URL}}

    </div>
    {{/block2}}
  </div>

</div>

{{#showfpblock2hr}}<hr class="hr my-0" />{{/showfpblock2hr}}

{{/FPHTMLBlock2}}
