{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{> theme_space/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
    {{>theme_space/navbar-fp}}

    {{#showherologo}}<div class="c-top-logo">{{{ output.fp_header }}}</div>{{/showherologo}}

    {{#slot1block9}}{{>theme_space/block-9}}{{/slot1block9}}
    {{#slot1block8}}{{>theme_space/block-8}}{{/slot1block8}}
    {{#slot1block1}}{{>theme_space/block-1}}{{/slot1block1}}
    {{#slot1block2}}{{>theme_space/block-2}}{{/slot1block2}}
    {{#slot1block4}}{{>theme_space/block-4}}{{/slot1block4}}
    {{#slot1block5}}{{>theme_space/block-5}}{{/slot1block5}}
    {{#slot1block6}}{{>theme_space/block-6}}{{/slot1block6}}
    {{#slot1block3}}{{>theme_space/block-3}}{{/slot1block3}}
    {{#slot1block7}}{{>theme_space/block-7}}{{/slot1block7}}

    {{#slot2block9}}{{>theme_space/block-9}}{{/slot2block9}}
    {{#slot2block8}}{{>theme_space/block-8}}{{/slot2block8}}
    {{#slot2block1}}{{>theme_space/block-1}}{{/slot2block1}}
    {{#slot2block2}}{{>theme_space/block-2}}{{/slot2block2}}
    {{#slot2block4}}{{>theme_space/block-4}}{{/slot2block4}}
    {{#slot2block5}}{{>theme_space/block-5}}{{/slot2block5}}
    {{#slot2block6}}{{>theme_space/block-6}}{{/slot2block6}}
    {{#slot2block3}}{{>theme_space/block-3}}{{/slot2block3}}
    {{#slot2block7}}{{>theme_space/block-7}}{{/slot2block7}}

    {{#slot3block9}}{{>theme_space/block-9}}{{/slot3block9}}
    {{#slot3block8}}{{>theme_space/block-8}}{{/slot3block8}}
    {{#slot3block1}}{{>theme_space/block-1}}{{/slot3block1}}
    {{#slot3block2}}{{>theme_space/block-2}}{{/slot3block2}}
    {{#slot3block4}}{{>theme_space/block-4}}{{/slot3block4}}
    {{#slot3block5}}{{>theme_space/block-5}}{{/slot3block5}}
    {{#slot3block6}}{{>theme_space/block-6}}{{/slot3block6}}
    {{#slot3block3}}{{>theme_space/block-3}}{{/slot3block3}}
    {{#slot3block7}}{{>theme_space/block-7}}{{/slot3block7}}

    {{#slot4block9}}{{>theme_space/block-9}}{{/slot4block9}}
    {{#slot4block8}}{{>theme_space/block-8}}{{/slot4block8}}
    {{#slot4block1}}{{>theme_space/block-1}}{{/slot4block1}}
    {{#slot4block2}}{{>theme_space/block-2}}{{/slot4block2}}
    {{#slot4block4}}{{>theme_space/block-4}}{{/slot4block4}}
    {{#slot4block5}}{{>theme_space/block-5}}{{/slot4block5}}
    {{#slot4block6}}{{>theme_space/block-6}}{{/slot4block6}}
    {{#slot4block3}}{{>theme_space/block-3}}{{/slot4block3}}
    {{#slot4block7}}{{>theme_space/block-7}}{{/slot4block7}}

    {{#slot5block9}}{{>theme_space/block-9}}{{/slot5block9}}
    {{#slot5block8}}{{>theme_space/block-8}}{{/slot5block8}}
    {{#slot5block1}}{{>theme_space/block-1}}{{/slot5block1}}
    {{#slot5block2}}{{>theme_space/block-2}}{{/slot5block2}}
    {{#slot5block4}}{{>theme_space/block-4}}{{/slot5block4}}
    {{#slot5block5}}{{>theme_space/block-5}}{{/slot5block5}}
    {{#slot5block6}}{{>theme_space/block-6}}{{/slot5block6}}
    {{#slot5block3}}{{>theme_space/block-3}}{{/slot5block3}}
    {{#slot5block7}}{{>theme_space/block-7}}{{/slot5block7}}

    {{#slot6block9}}{{>theme_space/block-9}}{{/slot6block9}}
    {{#slot6block8}}{{>theme_space/block-8}}{{/slot6block8}}
    {{#slot6block1}}{{>theme_space/block-1}}{{/slot6block1}}
    {{#slot6block2}}{{>theme_space/block-2}}{{/slot6block2}}
    {{#slot6block4}}{{>theme_space/block-4}}{{/slot6block4}}
    {{#slot6block5}}{{>theme_space/block-5}}{{/slot6block5}}
    {{#slot6block6}}{{>theme_space/block-6}}{{/slot6block6}}
    {{#slot6block3}}{{>theme_space/block-3}}{{/slot6block3}}
    {{#slot6block7}}{{>theme_space/block-7}}{{/slot6block7}}

    {{#slot7block9}}{{>theme_space/block-9}}{{/slot7block9}}
    {{#slot7block8}}{{>theme_space/block-8}}{{/slot7block8}}
    {{#slot7block1}}{{>theme_space/block-1}}{{/slot7block1}}
    {{#slot7block2}}{{>theme_space/block-2}}{{/slot7block2}}
    {{#slot7block4}}{{>theme_space/block-4}}{{/slot7block4}}
    {{#slot7block5}}{{>theme_space/block-5}}{{/slot7block5}}
    {{#slot7block6}}{{>theme_space/block-6}}{{/slot7block6}}
    {{#slot7block3}}{{>theme_space/block-3}}{{/slot7block3}}
    {{#slot7block7}}{{>theme_space/block-7}}{{/slot7block7}}

    {{#slot8block9}}{{>theme_space/block-9}}{{/slot8block9}}
    {{#slot8block8}}{{>theme_space/block-8}}{{/slot8block8}}
    {{#slot8block1}}{{>theme_space/block-1}}{{/slot8block1}}
    {{#slot8block2}}{{>theme_space/block-2}}{{/slot8block2}}
    {{#slot8block4}}{{>theme_space/block-4}}{{/slot8block4}}
    {{#slot8block5}}{{>theme_space/block-5}}{{/slot8block5}}
    {{#slot8block6}}{{>theme_space/block-6}}{{/slot8block6}}
    {{#slot8block3}}{{>theme_space/block-3}}{{/slot8block3}}
    {{#slot8block7}}{{>theme_space/block-7}}{{/slot8block7}}

    {{#slot9block9}}{{>theme_space/block-9}}{{/slot9block9}}
    {{#slot9block8}}{{>theme_space/block-8}}{{/slot9block8}}
    {{#slot9block1}}{{>theme_space/block-1}}{{/slot9block1}}
    {{#slot9block2}}{{>theme_space/block-2}}{{/slot9block2}}
    {{#slot9block4}}{{>theme_space/block-4}}{{/slot9block4}}
    {{#slot9block5}}{{>theme_space/block-5}}{{/slot9block5}}
    {{#slot9block6}}{{>theme_space/block-6}}{{/slot9block6}}
    {{#slot9block3}}{{>theme_space/block-3}}{{/slot9block3}}
    {{#slot9block7}}{{>theme_space/block-7}}{{/slot9block7}}

    {{> theme_space/footer }}
    {{> theme_space/footer-scripts }}

</body>
</html>

{{#js}}
require(['theme_space/loader']);
{{/js}}
